<!--@subject Bem-vindo, {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var customer.created_in}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Prezado(a) {{htmlescape var=$customer.name}}</strong>,<br/>
                            Bem-vindo à {{var customer.created_in}}. Para entrar no sistema ao visitar nosso site, clique em <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Entrar</a> ou em <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Minha Conta</a> no topo de todas as páginas, digitando seu e-mail e sua senha.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Utilize os seguintes valores, quando solicitado:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Senha: {{htmlescape var=$customer.password}}<p>

                            <p>Quando entrar em sua conta, você poderá fazer o seguinte:</p>

                            <ul>
                                <li>Finalizar uma compra mais rápido</li>
                                <li> Verificar a situação dos pedidos</li>
                                <li>Ver compras realizadas</li>
                                <li> Alterar dados de sua conta</li>
                                <li>Trocar sua senha</li>
                            </ul>

                            <p>Se você possuir quaisquer dúvidas sobre sua conta ou qualquer outro assunto, por favor, sinta-se à vontade de entrar em contato pelo e-mail {{config path="trans_email/ident_general/email"}} ou pelo telefone {{config path="general/store_information/phone"}}</p>
							<p>Obrigado,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
