<!--@subject Confirmação de conta para {{var customer.name}} @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var customer.created_in}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Prezado(a) {{htmlescape var=$customer.name}}</strong>, <br/> Bem-vindo à {{var customer.created_in}}.</p>

                            <p>Seu e-mail {{var customer.email}} precisa ser confirmado antes de utilizá-lo para entrar em nossa loja.</p>

                            <p>Para confirmar o e-mail e imediatamente entrar no sistema, por favor, utilize <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">este link de confirmação</a>. Este link é válido uma única vez.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Utilize os seguintes valores, quando solicitado:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Senha: {{htmlescape var=$customer.password}}<p>

                            <p>Se você possuir quaisquer dúvidas sobre sua conta ou qualquer outro assunto, por favor, sinta-se à vontade de entrar em contato pelo e-mail <a href="mailto:portaw@portaw.com" style="color:#1E7EC8;">portaw@portaw.com</a> ou pelo telefone (55) 3223-1825.</p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
