<!--@subject Erro de notificação ASP do Amazonpayments @-->
<div>
    <div><b>Mensagem de notificação de pagamento simples do Amazon</b></div>
    <div>Pedido:</div>
    <div style="border:1px solid #000;">{{var request}}</div>
    <div>Erro:</div>
    <div style="border:1px solid #000;">{{var error}}</div>
</div>