<!--@subject Nova senha para {{var customer.name}} @-->

<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var customer.created_in}}" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
<p><strong>Prezado(a) {{htmlescape var=$customer.name}}</strong>,<br/>
Sua nova senha é: {{htmlescape var=$customer.password}}</p>
<p>Você pode trocar sua senha a qualquer momento entrando em <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">sua conta</a>.<p>
<p>Obrigado,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
