{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Transação de pagamento falhou @-->

<table>
    <thead>
        <tr>
            <th>Transação de pagamento falhou.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Motivo</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>Tipo de finalização de compra</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                    <b>Cliente:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>Produtos:</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>Total:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Endereço de cobrança:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>Endereço de envio:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>Método de envio:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>Método de pagamento:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>Data e hora:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>