{* This is a comment block

Available vars in this template:
  - name            Recipient name
  - email           Recipient Email address
  - product_name    Product name
  - product_url     Url for product
  - product_image   Url for product small image (75 px)
  - message         Sender custom message
  - sender_name     Sender name
  - sender_email    Sender email

Use vars: {{var var_name}}
*}<!--@subject Bem-vindo, {{var name}} @-->

Bem-vindo, {{htmlescape var=$name}}<br /><br />Por favor, confira o <a href="{{var product_url}}">{{var product_name}}</a><br /><br />Segue uma mensagem: <br />{{var message}}<br /><br />