<!--@subject {{var order.getStoreGroupName()}}: Fatura número {{var invoice.increment_id}} atualização @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var customer.created_in}}"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>Prezado(a) {{htmlescape var=$billing.getName()}}</strong>,<br/>
                    Seu pedido de número {{var order.increment_id}} foi <br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>{{var comment}}</p>
                <p>
                    Se você possuir quaisquer dúvidas, por favor, sinta-se à vontade de entrar em contato pelo e-mail
                    <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                    ou pelo telefone {{config path='general/store_information/phone'}}.
                </p>
                <p>Obrigado,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>